.overflow-scroll {
  overflow-x: scroll;
}
.rand-wrapper {
  width: clamp(350px, 90vw, 1000px);
  height: 485px;
  margin: 0 auto;
  position: relative;
}
.field-image,
.rand-image {
  position: absolute;
  top: 0;
  left: 0;
  width: clamp(350px, 90vw, 1000px);
  height: auto;
}
.rand-image {
  z-index: 10;
}

.button-wrapper {
  position: relative;
  display: flex;
  padding-bottom: 2em;
}
.generate-button {
  padding: 0.75rem 2rem;
  border-radius: 3px;
  margin: 0 auto;
  border: none;
  text-transform: uppercase;
  background: linear-gradient(to right, #ff9933 0%, rgb(234, 209, 14) 100%);
  color: #fff;
}
.code {
  margin: 2rem;
}
